@model List<Usuario>

<div role="tablist" class="tabs tabs-boxed w-11/12 mx-auto mt-2">
    <a asp-controller="Admin" asp-action="Restaurantes" role="tab" class="tab">Restaurantes</a>
    <a asp-controller="Admin" asp-action="Usuarios" role="tab" class="tab tab-active">Usuarios</a>
    <a asp-controller="Admin" asp-action="Productos" role="tab" class="tab">Productos</a>
</div>

<div class="sm:px-4 p-6">
    <div class="flex flex-wrap lg:px-16">
        <div class="flex flex-col w-full">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="border rounded-lg shadow overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Nombre</th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Correo</th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Teléfono</th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Dirección</th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Tipo Usuario</th>
                                    <th scope="col" class="px-6 py-3"></th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">
                                @foreach (Usuario usuario in Model)
                                {
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">@usuario.Nombre @usuario.Apellidos</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">@usuario.Correo</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">@usuario.Telefono</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">@usuario.Direccion</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                            @{
                                                if (usuario.TipoUsuario == 1)
                                                {
                                                    <span>Usuario</span>
                                                }
                                                else
                                                {
                                                    <span>Admin</span>
                                                }
                                            }
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium space-x-2">
                                            <a asp-controller="Admin" asp-action="EditUsuario" asp-route-id="@usuario.IdUsuario"
                                               class="inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Editar
                                            </a>
                                            <a asp-controller="Admin" asp-action="DeleteUsuario" asp-route-id="@usuario.IdUsuario"
                                               class="inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent text-red-600 hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Borrar
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
