@model Producto

@{
    List<CategoriaProducto> categorias = ViewData["CATEGORIAS"] as List<CategoriaProducto>;
    List<string> categProducto = await this.repo.GetCategoriasFromProductoAsync(Model.IdProducto);
}

@using (Html.BeginForm("_EditProducto", "PanelRestaurante"))
{
    <div class="py-6 px-8">
        <div class="grid grid-cols-6 gap-6">
            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="idproducto" value="@Model.IdProducto" />
                <input type="hidden" name="idrestaurante" value="@Model.IdRestaurante" />
                <div class="col-span-6">
                    <label class="block text-sm font-bold text-gray-700">Nombre</label>
                    <input type="text" name="nombre" value="@Model.Nombre" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none" />
                </div>
                <div class="col-span-6">
                    <label class="block text-sm font-bold text-gray-700">Categorías</label>
                    <select name="categproducto" multiple size="@categorias.Count()"
                            class="scrollbar-hide p-2 pb-1.5 mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm shadow-sm focus:ring focus:outline-none">
                        @foreach (CategoriaProducto categ in categorias)
                        {
                            if (categProducto.Contains(categ.Nombre))
                            {
                                <option selected value="@categ.IdCategoriaProducto">@categ.Nombre</option>
                            }
                            else
                            {
                                <option value="@categ.IdCategoriaProducto">@categ.Nombre</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-span-6">
                    <label class="block text-sm font-bold text-gray-700">Descripción</label>
                    <input type="text" size="3" name="descripcion" value="@Model.Descripcion" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none">
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-sm font-bold text-gray-700">Precio</label>
                    <input type="text" name="precio" pattern="^\d+(,\d{1,2})?$" value="@Model.Precio.ToString()" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none" />
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-sm font-bold text-gray-700">Imagen</label>
                    <input type="text" name="imagen" value="@Model.Imagen" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none" />
                </div>
                <div class="col-span-6">
                    <button id="btnEditPost" class="btn btn-primary font-medium w-full">
                        Editar producto
                    </button>
                </div>
            </form>
        </div>
    </div>
}