@model List<Pedido>

@{
    List<ProductoPedidoView> productos = ViewData["PRODUCTOS"] as List<ProductoPedidoView>;
    List<EstadoPedido> estados = await this.repo.GetEstadoPedidosAsync();
}

<div class="py-6 px-6 md:px-12">
    <h1 class="text-3xl font-bold text-gray-900 mt-2 mb-4">Pedidos pendientes</h1>
    @if (Model.Count > 0)
    {
        <div id="accordion" class="border-2 rounded-xl" data-accordion="open">
            @foreach (Pedido pedido in Model.OrderByDescending(p => p.FechaPedido))
            {
                <h2 id="accordion-color-heading-@pedido.IdPedido">
                    <button type="button"
                            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl bg-purple-100 text-purple-600 focus:ring-4 focus:ring-purple-200 hover:bg-purple-100 gap-3"
                            data-accordion-target="#accordion-color-body-@pedido.IdPedido" aria-expanded="true" aria-controls="accordion-color-body-@pedido.IdPedido">
                        <span>Pedido #@pedido.IdPedido (ESTADO: @productos.FirstOrDefault(p => p.IdPedido == pedido.IdPedido).Estado)</span>
                    </button>
                </h2>
                <div id="accordion-color-body-@pedido.IdPedido" aria-labelledby="accordion-color-heading-@pedido.IdPedido">
                    <div class="p-5 border border-b-0 border-gray-200">
                        <p class="mb-2 text-gray-600">
                            <span class="text-2xl text-gray-700">
                                Fecha: @pedido.FechaPedido
                            </span>
                            @{
                                Usuario user = await this.repo.FindUsuarioAsync(pedido.IdUsuario);
                            }
                        <p class="text-xl text-gray-700">
                                @user.Direccion
                        </p>
                            @using (Html.BeginForm("_PedidosRestaurante", "PanelRestaurante"))
                            {
                            <form method="post">
                                <div class="flex flex-wrap my-5 w-full">
                                    <input type="hidden" name="idpedido" value="@pedido.IdPedido" />
                                    <div class="w-full md:w-[49%]">
                                        <label class="block text-sm font-bold text-gray-700">Categoría</label>
                                        <select name="estado"
                                                class="p-2 pb-1.5 mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm shadow-sm focus:ring focus:outline-none">
                                                @foreach (EstadoPedido estado in estados)
                                                {
                                                    if (estado.IdEstado == pedido.Estado)
                                                    {
                                                    <option value="@estado.IdEstado" selected>@estado.NombreEstado</option>
                                                    }
                                                    else
                                                    {
                                                    <option value="@estado.IdEstado">@estado.NombreEstado</option>
                                                    }
                                                }
                                        </select>
                                    </div>
                                    <div class="w-0 md:w-[2%]"></div>
                                    <div class="w-full md:w-[49%]">
                                        <button class="btn btn-primary w-full mt-4">Modificar estado</button>
                                    </div>
                                </div>
                            </form>
                            }
                        <div class="relative overflow-x-auto">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                                <thead class="text-xs text-gray-900 bg-gray-100 uppercase">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 rounded-s-lg">Producto</th>
                                        <th scope="col" class="px-6 py-3">Cantidad</th>
                                        <th scope="col" class="px-6 py-3 rounded-e-lg">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @{
                                            List<ProductoPedidoView> productosPedido = productos.Where(p => p.IdPedido == pedido.IdPedido).ToList();
                                        }
                                        @foreach (ProductoPedidoView producto in productosPedido)
                                        {
                                            decimal total = producto.Cantidad * producto.Precio;
                                        <tr class="bg-white">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                                    @producto.Producto
                                            </th>
                                            <td class="px-6 py-4">@producto.Cantidad</td>
                                            <td class="px-6 py-4">@total€</td>
                                        </tr>
                                        }
                                    <tr class="bg-white">
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"></th>
                                        <td class="px-6 py-4"></td>
                                        <td class="px-6 py-4 font-bold text-gray-700">@productosPedido.Sum(pp => pp.Cantidad * pp.Precio)€</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h2 class="text-xl font-bold text-gray-900 mt-2 mb-4">No hay pedidos por entregar</h2>
    }
</div>
