@model List<Producto>

<div class="sm:px-4 p-6">
    <div class="flex flex-wrap lg:px-16">
        <div class="flex flex-col w-full">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    @if (ViewData["IDRESTAURANTE"] != null)
                    {
                        <button onclick="createProducto()" class="btn btn-primary px-5 py-3 text-sm font-medium w-100 mb-6 w-full">
                            Crear producto
                        </button>
                    }
                    <div class="border rounded-lg shadow overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3"></th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Nombre</th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Precio</th>
                                    <th scope="col" class="px-6 py-3"></th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">
                                @foreach (Producto prod in Model)
                                {
                                    <tr>
                                        <td class="flex justify-center">
                                            <img src="~/images/imag_productos/@prod.Imagen" class="object-cover w-16 md:w-24 h-16 md:h-24 max-h-full rounded-3xl text-center px-0.5 py-1.5">
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">@prod.Nombre</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">@prod.Precio€</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium space-x-2">
                                            <button data-idproducto="@prod.IdProducto" onclick="detailsProducto(this)"
                                                    class="btn-details inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent text-green-600 hover:text-green-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Detalles
                                            </button>
                                            <button data-idproducto="@prod.IdProducto" onclick="editProducto(this)"
                                                    class="btn-edit inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Editar
                                            </button>
                                            <a asp-controller="PanelRestaurante" asp-action="DeleteProducto" asp-route-id="@prod.IdProducto"
                                               class="inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent text-red-600 hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Borrar
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dialog id="modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <button id="closeModal" onclick="cerrarModal()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        <h3 id="titleModal" class="font-bold text-lg"></h3>
        <div id="contentModal" class="py-4"></div>
    </div>
</dialog>
