@model Usuario

<div class="py-6 px-16">
    <h1 class="text-3xl font-bold text-gray-900 mt-2 mb-4">Tu perfil</h1>
    <fieldset class="flex flex-wrap w-full justify-center">
        <div class="w-[48%]">
            <label for="detailsRadio"
                   class="flex cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-white px-3 py-2 text-gray-900 hover:border-gray-200 has-[:checked]:border-violet-800 has-[:checked]:bg-violet-800 has-[:checked]:text-white">
                <input type="radio"
                       name="optionForm"
                       value="detailsRadio"
                       id="detailsRadio"
                       class="sr-only"
                       checked />
                <p class="text-sm font-medium">Detalles</p>
            </label>
        </div>
        <div class="w-[4%]"></div>

        <div class="w-[48%]">
            <label for="editRadio"
                   class="flex cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-white px-3 py-2 text-gray-900 hover:border-gray-200 has-[:checked]:border-violet-800 has-[:checked]:bg-violet-800 has-[:checked]:text-white">
                <input type="radio"
                       name="optionForm"
                       value="editRadio"
                       id="editRadio"
                       class="sr-only" />
                <p class="text-sm font-medium">Editar</p>
            </label>
        </div>
    </fieldset>
    <form method="post" class="mt-8 grid grid-cols-6 gap-6">
        @Html.AntiForgeryToken()
        <input type="hidden" name="idusuario" value="@Model.IdUsuario" />
        <input type="hidden" name="contrasenya" value="@Model.Contrasenya" />
        <input type="hidden" name="salt" value="@Model.Salt" />
        <input type="hidden" name="tipousuario" value="@Model.TipoUsuario" />
        <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-bold text-gray-700">Nombre</label>
            <input type="text" readonly name="nombre" value="@Model.Nombre" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-bold text-gray-700">Apellidos</label>
            <input type="text" readonly name="apellidos" value="@Model.Apellidos" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6">
            <label class="inline-block text-sm font-bold text-gray-700">Email</label>
            <input type="email" readonly name="correo" value="@Model.Correo" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-bold text-gray-700">Teléfono</label>
            <input type="text" readonly name="telefono" pattern="^\d{9}$" value="@Model.Telefono" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-bold text-gray-700">Dirección</label>
            <input type="text" readonly name="direccion" value="@Model.Direccion" class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button id="editButton" disabled class="btn btn-primary w-48 font-medium">
                Editar perfil
            </button>
        </div>
    </form>
</div>

@section scripts {
    <script>
        $(function () {
            $("#detailsRadio").on("click", function () {
                $(":not(input[type=radio])").attr("readonly", true);
                $("#editButton").attr("disabled", true)
                    .removeClass("btn-primary").addClass("btn-neutral");
            });

            $("#editRadio").on("click", function () {
                $(":not(input[type=radio])").attr("readonly", false);
                $("#editButton").attr("disabled", false)
                    .addClass("btn-primary").removeClass("btn-neutral");
            });
        });
    </script>
}