@model Producto

@{
    Restaurante rest = await this.service.FindRestauranteAsync(Model.IdRestaurante);
    List<string> categorias = await this.service.GetCategoriasFromProductoAsync(Model.IdProducto);
}

<div class="px-8 py-6">
    <form class="grid-cols-6 grid gap-6">
        <div class="col-span-6 sm:col-span-3">
            <label class="text-gray-700 block text-sm font-bold">ID</label>
            <input type="text" readonly value="@Model.IdProducto" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="text-gray-700 block text-sm font-bold">Nombre</label>
            <input type="text" readonly value="@Model.Nombre" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="text-gray-700 block text-sm font-bold">Restaurante</label>
            <input type="text" readonly value="@rest.Nombre" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="text-gray-700 block text-sm font-bold">Precio</label>
            <input type="text" readonly value="@Model.Precio€" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6">
            <label class="text-gray-700 block text-sm font-bold">Descripción</label>
            <input type="tel" readonly value="@Model.Descripcion" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6">
            <label class="text-gray-700 block text-sm font-bold">Categorías</label>
            <select name="categproducto" multiple size="@categorias.Count()"
                    class="scrollbar-hide border-gray-300 text-gray-700 mt-1.5 w-full rounded-lg p-2 pb-1.5 shadow-sm focus:ring focus:outline-none sm:text-sm">
                @foreach (string categ in categorias)
                {
                    <option>@categ</option>
                }
            </select>
        </div>
        <div class="col-span-6">
            <img class="h-[294px] w-full rounded-xl object-cover" src="~/images/imag_productos/@Model.Imagen" />
        </div>
    </form>
</div>
