@model RestauranteView

<div class="px-8 py-6">
    <form class="grid-cols-6 grid gap-6">
        <div class="col-span-6 sm:col-span-1">
            <label class="text-gray-700 block text-sm font-bold">ID</label>
            <input type="text" readonly value="@Model.IdRestaurante" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="text-gray-700 block text-sm font-bold">Nombre</label>
            <input type="text" readonly value="@Model.Nombre" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-2">
            <label class="text-gray-700 block text-sm font-bold">Categoría</label>
            <input type="text" readonly value="@Model.CategoriaRestaurante" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6">
            <label class="text-gray-700 block text-sm font-bold">Dirección</label>
            <input type="text" readonly value="@Model.Direccion" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="text-gray-700 block text-sm font-bold">Teléfono</label>
            <input type="tel" readonly value="@Model.Telefono" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="text-gray-700 block text-sm font-bold">Valoración</label>
            @{
                string valoracion = Model.Valoracion + "/5";
            }
            <input type="text" readonly value="@valoracion" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6">
            <label class="text-gray-700 block text-sm font-bold">Correo</label>
            <input type="text" readonly value="@Model.Correo" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
        </div>
        <div class="col-span-6">
            <img class="h-[293px] w-full rounded-xl object-cover" src="~/images/imag_restaurantes/@Model.Imagen" />
        </div>
    </form>
</div>
