@model List<Producto>

<div class="p-6 sm:px-4">
    <div class="flex flex-wrap lg:px-16">
        @if (ViewData["IDRESTAURANTE"] != null)
        {
            <button data-idrestaurante="@ViewData["IDRESTAURANTE"]" onclick="createProducto(this)"
                    class="btn btn-primary mb-6 w-full px-5 py-3 text-sm font-medium">
                Crear producto
            </button>
        }
        else
        {
            <button data-idrestaurante="" onclick="createProducto(this)"
                    class="btn btn-primary mb-6 w-full px-5 py-3 text-sm font-medium">
                Crear producto
            </button>
        }
        <div class="flex w-full flex-col">
            <div class="-m-1.5 overflow-x-auto">
                <div class="inline-block min-w-full p-1.5 align-middle">
                    <div class="overflow-hidden rounded-lg border shadow">
                        <table class="divide-gray-200 min-w-full divide-y">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3"></th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Nombre</th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Precio</th>
                                    <th scope="col" class="px-6 py-3"></th>
                                </tr>
                            </thead>
                            <tbody class="divide-gray-200 divide-y">
                                @foreach (Producto prod in Model)
                                {
                                    <tr>
                                        <td class="flex justify-center">
                                            <img src="~/images/imag_productos/@prod.Imagen" class="h-16 max-h-full w-16 rounded-3xl object-cover px-0.5 py-1.5 text-center md:w-24 md:h-24">
                                        </td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">@prod.Nombre</td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">@prod.Precio€</td>
                                        <td class="space-x-2 whitespace-nowrap px-6 py-4 text-center text-sm font-medium">
                                            <button data-idproducto="@prod.IdProducto" onclick="detailsProducto(this)"
                                                    class="btn-details text-green-600 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-medium hover:text-green-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Detalles
                                            </button>
                                            <button data-idproducto="@prod.IdProducto" onclick="editProducto(this)"
                                                    class="btn-edit text-blue-600 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-medium hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Editar
                                            </button>
                                            <a asp-controller="PanelAdmin" asp-action="DeleteProducto" asp-route-id="@prod.IdProducto"
                                               class="text-red-600 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-medium hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Borrar
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
