@model List<RestauranteView>

<div class="p-6 sm:px-4">
    <div class="flex flex-wrap lg:px-16">
        <button onclick="createRestaurante()"
                class="btn btn-primary mb-6 w-full px-5 py-3 text-sm font-medium">
            Crear restaurante
        </button>
        <div class="flex w-full flex-col">
            <div class="-m-1.5 overflow-x-auto">
                <div class="inline-block min-w-full p-1.5 align-middle">
                    <div class="overflow-hidden rounded-lg border shadow">
                        <table class="divide-gray-200 min-w-full divide-y">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Nombre</th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Teléfono</th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Dirección</th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Valoración</th>
                                    <th scope="col" class="px-6 py-3"></th>
                                </tr>
                            </thead>
                            <tbody class="divide-gray-200 divide-y">
                                @foreach (RestauranteView restaurante in Model)
                                {
                                    <tr>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm font-medium">@restaurante.Nombre</td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">@restaurante.Telefono</td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">@restaurante.Direccion</td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">@restaurante.Valoracion/5</td>
                                        <td class="space-x-2 whitespace-nowrap px-6 py-4 text-center text-sm font-medium">
                                            <button data-idrestaurante="@restaurante.IdRestaurante" onclick="productosRestaurante(this)"
                                                    class="text-purple-600 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-medium hover:text-purple-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Productos
                                            </button>
                                            <button data-idrestaurante="@restaurante.IdRestaurante" onclick="detailsRestaurante(this)"
                                                    class="btn-details text-green-600 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-medium hover:text-green-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Detalles
                                            </button>
                                            <button data-idrestaurante="@restaurante.IdRestaurante" onclick="editRestaurante(this)"
                                                    class="btn-edit text-blue-600 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-medium hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Editar
                                            </button>
                                            <a asp-controller="PanelAdmin" asp-action="DeleteRestaurante" asp-route-id="@restaurante.IdRestaurante"
                                               class="text-red-600 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-medium hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none">
                                                Borrar
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
