@model CestaView

<div class="mx-auto flex w-10/12 flex-wrap py-8 sm:py-12">
    @if (Model.Cesta != null && Model.Cesta.Count() > 0)
    {
        <div class="mx-auto lg:w-5/12 lg:py-6">
            <div class="mx-auto max-w-3xl">
                <header class="text-center">
                    <h1 class="text-gray-900 text-xl font-bold sm:text-3xl">Tu cesta</h1>
                </header>
                <div class="mt-8">
                    <ul class="space-y-4">
                        @foreach (ProductoCestaView prod in Model.Cesta)
                        {
                            <li class="flex items-center gap-4">
                                <img src="~/images/imag_productos/@prod.Imagen"
                                     class="size-24 rounded object-cover" />
                                <div>
                                    <h3 class="text-gray-900 text-sm">@prod.Nombre</h3>
                                    <dl class="text-[11px] text-gray-600 mt-0.5 space-y-px">
                                        <div>
                                            <span class="inline">Precio: @prod.Precio€</span>
                                        </div>
                                    </dl>
                                </div>

                                <div class="flex-1 flex items-center justify-end gap-2">
                                    <input type="number" value="@prod.Cantidad" data-idproducto="@prod.IdProducto"
                                           class="input-cantidad border-gray-200 bg-gray-50 text-gray-600 h-8 w-12 rounded p-0 text-center text-xs focus:outline-none [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" />
                                    <form method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="form" value="borrar" />
                                        <input type="hidden" name="idproducto" value="@prod.IdProducto" />
                                        <button class="text-gray-600 mt-1.5 transition hover:text-red-600">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4">
                                                <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>

                    <div class="border-gray-100 mt-8 flex justify-end border-t pt-8">
                        <div class="w-screen max-w-lg">
                            <dl class="text-gray-700 space-y-0.5 text-sm">
                                <div class="flex justify-between text-base font-medium">
                                    <dt class="ps-60">Total</dt>
                                    <dd class="font-bold">@Model.Total€</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-gray-300 mx-auto mt-10 rounded-2xl border p-6 lg:w-5/12 lg:mt-0">
            <div class="mx-auto max-w-3xl">
                <header class="text-center">
                    <h1 class="text-gray-900 text-xl font-bold sm:text-3xl">Datos de pago</h1>
                </header>
                <form method="post" class="mx-auto mb-0 mt-8 w-full space-y-4">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="form" value="pagar" />
                    <div class="flex flex-wrap">
                        <div class="w-full">
                            <label class="text-gray-700 block text-sm font-bold">Dirección</label>
                            <input type="text" disabled value="@Model.Direccion" name="direccion"
                                   class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                        </div>
                        <div class="mt-4 w-full">
                            <label class="text-gray-700 block text-sm font-bold">Teléfono</label>
                            <input type="text" disabled value="@Model.Telefono" name="telefono"
                                   class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                        </div>
                        <div class="mt-8 w-full">
                            <label class="text-gray-700 block text-sm font-bold">Número Tarjeta</label>
                            <input type="text" name="numero" placeholder="1234123412341234" pattern="^[0-9]{12}$" maxlength="12" required
                                   class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                        </div>
                        <div class="mt-4 w-full">
                            <label class="text-gray-700 block text-sm font-bold">Titular Tarjeta</label>
                            <input type="text" name="titular" value="@Model.Nombre" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" required />
                        </div>
                        <div class="mt-4 w-full">
                            <label class="text-gray-700 block text-sm font-bold">Fecha Caducidad</label>
                            <input datepicker datepicker-autohide datepicker- datepicker-format="mm/yy" type="text" name="vencimiento" placeholder="MM/YY" maxlength="5" pattern="^[0-9]{2}/[0-9]{2}$"
                                   class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" required />
                        </div>
                        <div class="mt-4 w-full">
                            <label class="text-gray-700 block text-sm font-bold">Código Seguridad</label>
                            <input type="text" name="vencimiento" placeholder="123" maxlength="3" pattern="^[0-9]{3}$" required
                                   class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                        </div>
                    </div>

                    <div class="mt-2 flex justify-end">
                        <button class="btn btn-primary px-5 py-3 text-sm font-medium">
                            Realizar pago
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="mx-auto">
            <header class="text-center">
                <h1 class="text-gray-900 text-xl font-bold sm:text-3xl">Tu cesta</h1>
            </header>
            <div class="mt-4 text-center">
                <h3 class="text-gray-900 text-xl font-bold">
                    No hay productos en tu cesta
                </h3>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        $(function () {
            $(":input.input-cantidad").on("change", function () {
                let id = $(this).data("idproducto");
                let cantidad = $(this).val();
                $.ajax({
                    type: "get",
                    url: "/Cesta/UpdateCesta?idproducto=" + id + "&cantidad=" + cantidad,
                    success: function (data) {
                        window.location.reload();
                    }
                })
            });
        });
    </script>
}
