@using System.Security.Claims
@model ProductosActionModel

@section styles {
    <style>
        [type=radio] {
            border-radius: 0;
            color: inherit;
        }
    </style>
}

@{
    int idrestaurante = Model.Restaurante.IdRestaurante;
    int idusuario = int.Parse(Context.User.FindFirst(ClaimTypes.NameIdentifier).Value);
    ValoracionRestaurante val = await this.service.GetValoracionRestauranteAsync(idrestaurante);
    int value = 1;
    if (val != null) value = val.Valoracion;
}

@if (ViewData["ERROR"] != null)
{
    <dialog id="errorModal" class="modal modal-bottom modal-open text-neutral-950 sm:modal-middle">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Error al añadir producto :(</h3>
            <p class="py-4">No puedes añadir productos de restaurantes diferentes</p>
            <div class="modal-action">
                <form method="dialog">
                    <button id="btnError" class="btn">Cerrar</button>
                </form>
            </div>
        </div>
    </dialog>
}

<figure class="relative">
    <img class="h-40 w-full object-cover" src="~/images/imag_restaurantes/@Model.Restaurante.Imagen" />
    <button onclick="favModal.showModal()" class="btn btn-primary btn-circle absolute right-0 top-0 m-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
            <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
        </svg>
    </button>
    <dialog id="favModal" class="modal modal-bottom text-neutral-950 sm:modal-middle">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Añadir/modificar valoración</h3>
            <p class="py-2">
                <div class="rating rating-lg gap-1">
                    <input id="rating-radio-1" type="radio" name="rating"
                           class="mask mask-star-2 bg-violet-800" value="1" />
                    <input id="rating-radio-2" type="radio" name="rating"
                           class="mask mask-star-2 bg-violet-800" value="2" />
                    <input id="rating-radio-3" type="radio" name="rating"
                           class="mask mask-star-2 bg-violet-800" value="3" />
                    <input id="rating-radio-4" type="radio" name="rating"
                           class="mask mask-star-2 bg-violet-800" value="4" />
                    <input id="rating-radio-5" type="radio" name="rating"
                           class="mask mask-star-2 bg-violet-800" value="5" />
                </div>
            </p>
            <div class="modal-action">
                <button id="btnVal" class="btn btn-primary">Guardar</button>
                <form method="dialog">
                    <button class="btn">Cerrar</button>
                </form>
            </div>
        </div>
    </dialog>
</figure>
<div class="p-6 sm:px-4">
    <h1 class="text-gray-900 mt-4 px-6 text-5xl font-bold">@Model.Restaurante.Nombre</h1>
    <h2 class="text-md text-gray-600 mt-3 px-6">
        <span>
            <span class="font-bold text-primary">
                @Model.Restaurante.Valoracion
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="mb-[6.2px] inline-block h-4 w-4 md:mb-1">
                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                </svg>
            </span>
            <span>&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;@Model.Restaurante.Direccion</span>
            <span>&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;@Model.Restaurante.Telefono</span>
        </span>
    </h2>
    <div class="flex flex-wrap">
        <div class="mt-6 w-full px-6 md:w-1/5">
            <input type="hidden" name="form" value="filtro" />
            <input type="hidden" name="idrestaurante" value="@Model.Restaurante.IdRestaurante" />
            <div class="border-gray-100 bg-gray-100 rounded-lg border px-1 py-2 text-center">
                <div class="w-full">
                    <button class="bg-white inline-block rounded-md px-14 py-2 text-sm text-primary shadow-sm focus:relative md:px-4 lg:px-10 xl:px-16"
                            name="categoria" value="0">
                        Todas
                    </button>
                </div>
                @foreach (CategoriaProducto categoria in Model.CategoriasProductos)
                {
                    <div class="w-full">
                        <button class="text-gray-500 inline-block rounded-md px-4 py-2 text-center text-sm hover:text-gray-700 focus:relative"
                                name="categoria" value="@categoria.IdCategoriaProducto">
                            @categoria.Nombre
                        </button>
                    </div>
                }
            </div>
        </div>
        <div id="contentProductos" class="w-full md:w-4/5"></div>
    </div>
</div>

@section scripts {
    <script>
        function incrementarCantidad(e) {
            let id = e.dataset.idproducto;
            $(function () {
                $("#cantidad" + id).val(parseInt($("#cantidad" + id).val()) + 1);
            });
        }

        function decrementarCantidad(e) {
            let id = e.dataset.idproducto;
            $(function () {
                if (parseInt($("#cantidad" + id).val()) > 0)
                    $("#cantidad" + id).val(parseInt($("#cantidad" + id).val()) - 1);
            });
        }

        function cancelarProd(e) {
            let id = e.dataset.idproducto;
            $(function () {
                $("#cantidad" + id).val(0);
            });
        }

        $(function () {
            $("input[value=@value]").attr("checked", true);
            $("#contentProductos").load("/Restaurantes/_ListProductos?idrestaurante="
                + @Model.Restaurante.IdRestaurante + "&categoria=0");

            $("button[name=categoria]").on("click", function () {
                $("button[name=categoria]")
                    .removeClass("bg-white px-14 md:px-4 lg:px-10 xl:px-16 text-primary shadow-sm")
                    .addClass("px-4 text-gray-500 hover:text-gray-700 text-center");
                $(this)
                    .addClass("bg-white px-14 md:px-4 lg:px-10 xl:px-16 text-primary shadow-sm")
                    .removeClass("px-4 text-gray-500 hover:text-gray-700 text-center");
                let categoria = $(this).val();
                $("#contentProductos").load("/Restaurantes/_ListProductos?idrestaurante="
                    + @Model.Restaurante.IdRestaurante + "&categoria=" + categoria);
            });

            $("#btnError").on("click", function () {
                $("#errorModal").removeClass("modal-open");
            });

            $("#btnVal").on("click", function () {
                let rating = $(".rating > input[type=radio]:checked").val();
                $.ajax({
                    url: "UpdateValoracionRestaurante?idrestaurante="
                        + @idrestaurante + "&idusuario=" + @idusuario
                        + "&valoracion=" + rating,
                    type: "GET",
                    success: function (data) { }
                });
            });
        });
    </script>
}