@model ProductosActionModel

@if (ViewData["MENSAJE"] != null)
{
    <dialog id="modal_error" class="modal modal-bottom modal-backdrop modal-open sm:modal-middle">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Error</h3>
            <p class="py-4">No puedes añadir productos de restaurantes diferentes</p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Cerrar</button>
                </form>
            </div>
        </div>
    </dialog>
}

<figure>
    <img class="object-cover w-full h-40" src="~/images/imag_restaurantes/@Model.Restaurante.Imagen" />
</figure>
<div class="sm:px-4 p-6">
    <h1 class="text-5xl font-bold text-gray-900 px-6 mt-4">@Model.Restaurante.Nombre</h1>
    <div class="flex flex-wrap">
        <form class="px-6 mt-6 w-full md:w-1/5" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="form" value="filtro" />
            <input type="hidden" name="idrestaurante" value="@Model.Restaurante.IdRestaurante" />
            <div class="rounded-lg border border-gray-100 bg-gray-100 py-2 px-1 text-center">
                <div class="w-full">
                    @if (Model.SelectedCategoria.ToString() == "0")
                    {
                        <button class="inline-block rounded-md bg-white px-14 md:px-4 lg:px-11 xl:px-20 py-2 text-sm text-primary shadow-sm focus:relative"
                                name="categoria" value="0">
                            Todas
                        </button>
                    }
                    else
                    {
                        <button class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative text-center" name="categoria" value="0">
                            Todas
                        </button>
                    }
                </div>
                @foreach (CategoriaProducto categoria in Model.CategoriasProductos)
                {
                    <div class="w-full">
                        @if (Model.SelectedCategoria.ToString() == categoria.IdCategoriaProducto.ToString())
                        {
                            <button class="inline-block rounded-md bg-white px-14 md:px-4 lg:px-10 xl:px-20 py-2 text-sm text-primary shadow-sm focus:relative"
                                    name="categoria" value="@categoria.IdCategoriaProducto">
                                @categoria.Nombre
                            </button>
                        }
                        else
                        {
                            <button class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative text-center"
                                    name="categoria" value="@categoria.IdCategoriaProducto">
                                @categoria.Nombre
                            </button>
                        }

                    </div>
                }
            </div>

        </form>
        <div class="w-full md:w-4/5">
            @if (Model.Productos.Count() == 0)
            {
                <h1 class="text-center mt-10 text-2xl font-bold">Productos no encontrados</h1>
            }
            <div class="flex flex-wrap">
                @foreach (Producto prod in Model.Productos)
                {
                    <div class="lg:w-1/2 p-6 w-full">
                        <div class="card card-compact h-full sm:h-44 card-side bg-base-100 shadow-xl ">
                            <figure class="w-4/12">
                                <img class="sm:object-cover h-full sm:h-[175.99px]" src="~/images/imag_productos/@prod.Imagen" />
                            </figure>
                            <div class="card-body w-8/12">
                                <h2 class="card-title">@prod.Nombre</h2>
                                <p>@prod.Descripcion</p>
                                <div class="card-actions max-w-full justify-between">
                                    <div class="justify-start h-1/2 mt-3">
                                        <span class="text-gray-600">@prod.Precio€</span>
                                    </div>
                                    <div class="justify-end">
                                        <button onclick="@("modal" + prod.IdProducto + ".showModal()")"
                                                class="btn btn-primary btn-circle"
                                                data-id="@prod.IdProducto" data-nombre="@prod.Nombre" data-desc="@prod.Descripcion" data-imagen="@prod.Imagen">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                                                <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <dialog id="@("modal" + prod.IdProducto)" class="modal modal-bottom sm:modal-middle">
                        <div class="modal-box">
                            <h3 class="font-bold text-lg">@prod.Nombre</h3>
                            <p class="py-4">@prod.Descripcion</p>
                            <img class="rounded-lg object-cover h-64 w-full" src="~/images/imag_productos/@prod.Imagen" />
                            <div class="modal-action h-full flex">
                                <form class="flex flex-wrap space-x-2" method="post">
                                    @Html.AntiForgeryToken()
                                    <div class="custom-number-input h-10 w-32">
                                        <div class="flex h-10 w-full rounded-lg relative bg-transparent mt-1">
                                            <button type="button" data-action="decrement" data-idproducto="@prod.IdProducto"
                                                    class="bg-gray-100 text-gray-600 hover:text-gray-600 hover:bg-gray-200 h-full w-20 rounded-l cursor-pointer outline-none">
                                                <span class="m-auto text-2xl font-thin">−</span>
                                            </button>
                                            <input id="@("cantidad" + prod.IdProducto)" type="text"
                                                   class="w-20 outline-none focus:outline-none text-center bg-gray-100 font-semibold text-md hover:text-black focus:text-black md:text-basecursor-default flex items-center text-gray-700"
                                                   name="cantidad" value="0">
                                            <button type="button" data-action="increment" data-idproducto="@prod.IdProducto"
                                                    class="bg-gray-100 text-gray-600 hover:text-gray-600 hover:bg-gray-200 h-full w-20 rounded-r cursor-pointer">
                                                <span class="m-auto text-2xl font-thin">+</span>
                                            </button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="form" value="cesta" />
                                    <input type="hidden" name="idproducto" value="@prod.IdProducto" />
                                    <button class="btn btn-primary font-medium">
                                        Añadir a cesta
                                    </button>
                                </form>
                                <form method="dialog">
                                    <button class="btn btn-cancelar" data-idproducto="@prod.IdProducto">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </dialog>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("button[data-action='decrement']").on("click", function () {
                let id = $(this).data("idproducto");
                if (parseInt($("#cantidad" + id).val()) > 0)
                    $("#cantidad" + id).val(parseInt($("#cantidad" + id).val()) - 1);
            });

            $("button[data-action='increment']").on("click", function () {
                let id = $(this).data("idproducto");
                $("#cantidad" + id).val(parseInt($("#cantidad" + id).val()) + 1);
            });

            $("button.btn-cancelar").on("click", function () {
                let id = $(this).data("idproducto");
                $("#cantidad" + id).val(0);
            });
        });
    </script>
}